<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<section id="content" class="pull-left content">
	<?php
		use TripleTowerSDK\Error\TripleTowerError;

		$lastError = $_SERVER["TT"]->lastError;
		if( TripleTowerError::isError( $lastError ) )
			echo "<h1>" . strtoupper($lastError->category) . " - " . strtoupper($lastError->codeText) . "</h1>";
		else
			echo "<h1>" . strtoupper( get_class($lastError) ) . "</h1>";
	?>
	<p>
		A problem has been detected and this instance of TripleTower has been shut down to prevent damage to your computer *srsly* ;-)<br />
		A thread, process or network connection crucial to system operation has unexpectedly exited or been terminated.
	</p>
	<p>If this is the first time you've seen this screen, empty any caches/localStorages by clicking on the following button and login again: <button type="button" id="clear-cache">Clear cache</button></p>
	<p>If this screen appears again, follow these steps:</p>
	<p>
		- Have you tried to turn your device off and on again?<br />
		<script>if($.browser.msie) document.write("- Stop using Internet Explorer.<br />");</script>
		- Install the latest updates for your browser software.<br />
		- Investigate if other users do have the same issue and file a bug.<br />
		- Check if any new hardware or software is properly installed. If this is a new installation, ask your hardware or software manufacturer for any updates you might need.
	</p>
	<p>If problems continue, contact first level support and provide them as many information as you can.</p>
	<p>Technical information:</p>
	<p>*** STOP: 0xRTFMTLDR (0x000IDDQD, 0x31337042, 0xNCC-1701, 0xTTBBLRLRBA)<br />
	<?php

		$infoList = "";

		// TripleTowerError
		if( TripleTowerError::isError($lastError) )
		{
			$infoList .= "*** CODE: " . $lastError->code . "<br />";
			$infoList .= "*** CODETEXT: " . $lastError->codeText . "<br />";
			$infoList .= "*** SEVERITY: " . $lastError->severity . "<br />";
			$infoList .= "*** CATEGORY: " . $lastError->category . "<br />";
			$infoList .= "*** FILE: " . $lastError->file . "<br />";
			$infoList .= "*** LINE: " . $lastError->line . "<br />";
			$infoList .= "*** MESSAGE: " . $lastError->message . "<br />";
			$infoList .= "*** TIME: " . $lastError->time->format(DateTime::W3C);
		}

		// Exception
		else
		{
			$infoList .= "*** CODE: " . $lastError->getCode() . "<br />";
			$infoList .= "*** CATEGORY: " . get_class($lastError) . "<br />";
			$infoList .= "*** FILE:  " . $lastError->getFile() . "<br />";
			$infoList .= "*** LINE: " . $lastError->getLine() . "<br />";
			$infoList .= "*** MESSAGE: " . $lastError->getMessage() . "<br />";
			$infoList .= "*** TIME: " . (new \DateTime())->format(\DateTime::W3C);
		}

		echo $infoList;
	?>
	</p>
</section>