/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

body
{
	margin: 0;
	padding: 1% 1% 1% 1%;
	width: 98%;
	height: 98%;
	background-color: #000082;
	color: #ffffff;
	font-family: monospace;
}

h1
{
	text-align: center;
}