<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="icon" href="/<?php echo $_SERVER["TT"]->tower->getTowerInstance(); ?>/libs/fatcow-icons/20130425/FatCow_Icons32x32/img/signs_bullets_controls/information.png" />

<script src="/<?php echo $_SERVER["TT"]->tower->getTowerInstance(); ?>/cdnjs/jquery/3.4.1/jquery.js"></script>
<script src="/<?php echo $_SERVER["TT"]->tower->getTowerInstance(); ?>/cdnjs/jquery-browser/0.1.0/jquery.browser.js"></script>
<script src="/<?php echo $_SERVER["TT"]->tower->getTowerInstance(); ?>/libs/tripletower/1.0/js/tripletower.js"></script>