<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="tt-about-body">
	<p class="tt-about-item">Name:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->name; ?></p>
	<p class="tt-about-item">Version:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->version; ?></p>
	<p class="tt-about-item">Version Name:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->versionName; ?></p>
	<p class="tt-about-item">Version Date:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->versionDate; ?></p>
	<p class="tt-about-item">License:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->license; ?></p>
	<p class="tt-about-item">Developer:</p><p class="tt-about-item"><?php echo $_SERVER["TT"]->meta->developer->name ; ?></p>
	<?php
	if( !empty($_SERVER["TT"]->meta->longDescription) )
		echo "<p class=\"tt-about-item\">Description:</p>" . $_SERVER["TT"]->meta->longDescription . "</p>";
	
	if( !empty($_SERVER["TT"]->meta->changeLog) )
		echo "<p class=\"tt-about-item\">Changelog:</p><p class=\"tt-about-item\">{$_SERVER["TT"]->meta->changeLog}</p>";
	?>
</div>