/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

.tt-about-body
{
	display: grid;
	grid-template-columns: max-content minmax(min-content, 1fr);
	grid-column-gap: 0.5rem;
	padding: 0.125rem 1rem;
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.tt-about-item
{
	margin: 0.5rem;
	word-wrap: break-word;
}