/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

body
{
	background: url("public/login/login_screen.png") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	z-index: 10;
}

.dropdown-menu
{
	width: 100%;
	cursor: pointer;
}

.input-top-space
{
	margin-top: 60px !important;
}

.fix-caret
{
	margin-top: 3px;
}

.hexagon-position
{
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.tripletower-hexagon
{
	width: 274px;
	height: 477px;
	background: white;
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

}

.tripletower-hexagon .form-horizontal
{
	position: absolute;
	top: 0;
	left: 0;
	width: 274px;
	height: 477px;
	background: #EFEFEF;
	z-index: 1;
}

.tripletower-hexagon,.tripletower-hexagon:before,.tripletower-hexagon:after
{
	background: #EFEFEF;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.tripletower-hexagon:before,.tripletower-hexagon:after
{
	content: "";
	position: absolute;
	width: 265px;
	height: 265px;
	transform: rotate(45deg) skew(15deg,15deg);
}

.tripletower-hexagon:before
{
	top: 106px;
	left: -133px;
}

.tripletower-hexagon:after
{
	top: 106px;
	left: 142px;
}

.btn-group-login
{
	width: 100%;
}

.dropdown-login
{
	width: 77%;
}

.dropdown-login > .btn-group
{
	width: 100%;
}

.button-login
{
	width: 23%;
}

.button-login button
{
	width: 100%;
}

.img-auth-size
{
	background-size: 22px 22px;
	width: 22px;
	height: 22px;
	margin-right: 8px;
}

.tripletower-hexagon
{
  width: 274px;
  height: 477px;
  background: white;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.tripletower-hexagon .form-horizontal
{
  position: absolute;
  top: 0;
  left: 0;
  width: 274px;
  height: 477px;
  background: #EFEFEF;
  z-index: 1;
}

.tripletower-hexagon, .tripletower-hexagon:before, .tripletower-hexagon:after
{
  background: #EFEFEF;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.tripletower-hexagon:before, .tripletower-hexagon:after
{
  content: "";
  position: absolute;
  width: 265px;
  height: 265px;
  transform: rotate(45deg) skew(15deg, 15deg);
}

.tripletower-hexagon:before
{
  top: 106px;
  left: -133px;
}

.tripletower-hexagon:after
{
  top: 106px;
  left: 142px;
}

.tripletower-hexagon-xs
{
  width: 137px;
  height: 238.5px;
  background: white;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tripletower-hexagon-xs .form-horizontal
{
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 238.5px;
  background: #EFEFEF;
  z-index: 1;
}

.tripletower-hexagon-xs, .tripletower-hexagon-xs:before, .tripletower-hexagon-xs:after
{
  background: #EFEFEF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.tripletower-hexagon-xs:before, .tripletower-hexagon-xs:after
{
  content: "";
  position: absolute;
  width: 132.5px;
  height: 132.5px;
  transform: rotate(45deg) skew(15deg, 15deg);
}

.tripletower-hexagon-xs:before
{
  top: 53px;
  left: -66.5px;
}

.tripletower-hexagon-xs:after
{
  top: 53px;
  left: 71px;
}

.tripletower-register
{
	margin-top: 25px;
	text-align: center;
}

.tripletower-register p
{
	display: inline;
	margin-right: 7px;
	cursor: default;
}

.tripletower-register button
{
	vertical-align: initial;
}