<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="tripletower-hexagon">
	<form class="form-horizontal">
		<div class="hexagon-position">
			<img src="/servicetower/Bootloader/public/login/hexagon_logo.png" alt="hexagonLogo" class="img-responsive">
		</div>
		<div class="form-group">
			<div class="input-group input-top-space">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" id="input-username" name="yin" placeholder="Username" autocomplete="username" required class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
				<input type="password" id="input-password" name="yang" placeholder="Password" autocomplete="current-password" required class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<input type="text" id="input-authsystem" class="form-control authSystem hide" value=""/>
			<div class="btn-group btn-group-login">
				<div class="btn-group dropdown-login">
					<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
						<span class="pull-left">
							<img id="dropDownIcon" class="img-auth-size pull-left" src="" />
							<span id="dropDownText"></span>
						</span>
						<i class="pull-right fa fa-caret-down fix-caret"></i>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<?php
							use TripleTowerSDK\Error\TripleTowerError;

							foreach($_SERVER["TT"]->authSystems->getAvailableAuthSystems() as $authSystemName)
							{
								$authSystem = $_SERVER["TT"]->authSystems->$authSystemName;

								$authSystemDisplayName = $authSystem->getAuthSystemDisplayName();
								if( TripleTowerError::isError($authSystemDisplayName) )
									$authSystemDisplayName = $authSystemDisplayName->getMessage();

								$authSystemName = $authSystem->getAuthSystemName();
								if( TripleTowerError::isError($authSystemName) )
									$authSystemName = $authSystemName->getMessage();

								echo "<li>" .
										"<a tabindex='-1'>" .
											"<img class='img-auth-size pull-left' src='" . $authSystem->getIconUrl() . "' />" .
											"<span>$authSystemDisplayName</span>" .
											"<div class='hide'>$authSystemName</div>" .
										"</a>" .
									"</li>";
							}
						?>
					</ul>
				</div>
				<div class="btn-group button-login">
					<button type="button" id="button-login" class="btn btn-primary" disabled>Log In</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="tripletower-register">
				<p>No account?</p>
				<button type="button" id="button-register" class="btn btn-default">Register</button>
			</div>
		</div>
	</form>
</div>