<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="tripletower-hexagon">
	<form class="form-horizontal">
		<div class="hexagon-position">
			<img src="public/login/hexagon_logo.png" alt="hexagonLogo" class="img-responsive">
		</div>
		<?php

			use TripleTowerSDK\Error\TripleTowerError;
			use TripleTowerSDK\Error\AuthError;
			use TripleTowerSDK\Helper\Helper;
			
			$taiji = "";
			foreach($_SERVER["TT"]->authSystems->getAvailableAuthSystems() as $authSystemName)
			{
				// Only consider SingleSignOn capable auth systems (derived from OpenLdap)
				if( !Helper::isClassRelative($_SERVER["TT"]->authSystems->$authSystemName, "TripleTowerSDK\\AuthSystem\\OpenLdapASC") )
					continue;
				
				// Check if there is a SingleSignOn user
				$ssoUser = $_SERVER["TT"]->authSystems->$authSystemName->checkSingleSignOnUser();
				if( TripleTowerError::isError($ssoUser) )
					continue;
					
				$taiji = $authSystemName;
				break;
			}
			if( empty($taiji) )
				throw new AuthError(AuthError::INVALID_AUTHSYSTEM, AuthError::ERR, "Necessary authSystem for SingleSignOn not found");
		?>
		<div id="tt-register-sso" class="form-group" data-taiji="<?php echo $taiji ?>">
			<h1 class="text-center">Hello <?php echo $_SERVER["REMOTE_USER"] ?></h1>
			<h3 class="text-center">Seems you're here for the first time.</h3>
			<h3 class="text-center">Do you want to register?</h3>
			<button type="button" id="button-register" class="btn btn-primary btn-lg btn-block">Yes, log me in</button>
		</div>		


	</form>
</div>