/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

/******************************************************/
/********************* WAPP STORE *********************/
/******************************************************/
.wappstore
{
	background: #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
	position: absolute;
	top: 0;
	left: 0;
	bottom: 40px;
	min-width: 100%;
	width: 100%;
	height: calc(100% - 30px);
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #428bca;
}

.wappstore-header
{
	position: relative;
	display: inline;
	top: 65px;
	background-color: #EEE;
	border: 1px solid #CCC;
	text-align: center;
	padding: 25px 20px 25px 20px;
	border-radius: 45px;
}

.wappstore-header-icon
{
	width: 48px;
	height: 48px;

}

.wappstore-header-text
{
	font-size: x-large;
	vertical-align: middle;
	display: inline;
}

.wappstore-content
{
	position: absolute;
	top: 130px;
	right: 15px;
	bottom: 55px;
	left: 15px;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 20px;
	overflow-y: auto;
	padding: 20px 20px 20px 20px;
}

.wappstore-wapp
{
	display: inline-block;
	width: 195px;
	margin: 0 10px 40px 0;
	padding: 5px 5px 36px 5px;
	float: left;
	cursor: pointer;
	border-radius: 15px;
	border: 1px solid transparent;

	transition: border 1s, background-color 1s;
}

.wappstore-wapp:hover
{
	transition: border 0.25s, background-color 0.25s;
	border: 1px solid #CCC;
	background-color: #DDD;

}

.wappstore-wapp-icon
{
	height: 124px;
	width: 124px;
	box-reflect: below 1px -webkit-linear-gradient(top, rgba(0,0,0,0) 68%, rgba(255,255,255,0.5) 100%);
}

.wappstore-wapp-name
{
	margin: 0 0 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wappstore-wapp-author
{
	line-height: 0.8;
	font-size: x-small;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.wappstore-wapp-rating
{

}

.wappstore-wapp-rating-star
{
	height: 11px;
	width: 11px;
}

.wappstore-wapp-rating-count
{
	display: inline-block;
	font-size: x-small;
}

.wappstore-categories
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 7px;
	margin: 0;
	list-style: none;
	text-align: center;
}

.wappstore-category
{
	display: inline-block;
	padding: 10px 25px 15px 25px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: larger;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: default;
}

.wappstore-category:not(.category-active):hover
{
	background-color: rgba(0, 109, 204, 0.6);
}

.wappstore-category-active
{
	color: white;
	background-color: #006DCC;
}

.wappstore-bottom
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10px;
	margin: 0;
	background-color: #006DCC;
}

/******************************************************/
/**************** WAPP INFORMATION ********************/
/******************************************************/
.wappinfo
{
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-radius: 20px;
	overflow-y: auto;
	text-align: left;
}

.wappinfo-closebtn
{
	position: absolute;
	top: 10px;
	right: 10px;
}

.wappinfo-headercontainer
{
	position: absolute;
	top: 20px;
	height: 270px;
	left: 5%;
	right: 5%;
	border-bottom: 1px solid #CCC;

}

.wappinfo-headercontainer-leftbar
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 240px;
	bottom: 10px;
	text-align: center;
}

.wappinfo-headercontainer-leftbar-img
{
	height: 190px;
	width: 190px;
	margin: 0 auto 10px auto;
	display: block;
}

.wappinfo-headercontainer-leftbar-btn
{
	width: 130px;
}

.wappinfo-headercontainer-heading
{
	position: absolute;
	top: 10px;
	left: 275px;
	right: 10px;
}

.wappinfo-headercontainer-heading-name
{
	margin-top: 15px;
	font-size: 30px;
	font-weight: 200;
}

.wappinfo-headercontainer-heading-deliverer
{
	margin-left: 10px;
}

.wappinfo-headercontainer-heading-deliverer-author
{
	font-weight: bold;
}

.wappinfo-headercontainer-heading-deliverer-wappstower
{
	font-weight: bold;
}

.wappinfo-headercontainer-shortinfo
{
	position: absolute;
	top: 100px;
	left: 275px;
	right: 10px;
	padding: 10px;
}

.wappinfo-headercontainer-shortinfo-key
{
	float: left;
	font-weight: bold;
	width: 100px;
}

.wappinfo-headercontainer-shortinfo-value
{

}

.wappinfo-headercontainer-shortinfo-activeusers
{

}

.wappinfo-headercontainer-shortinfo-rating
{

}

.wappinfo-headercontainer-shortinfo-rating-star
{
	width: 18px;
	height: 18px;
	margin-top: -5px;
}

.wappinfo-mediacontainer
{
	position: absolute;
	top: 315px;
	height: 275px;
	left: 5%;
	right: 5%;
	border-bottom: 1px solid #CCC;
}

.wappinfo-mediacontainer div.scrollingHotSpotLeft,
.wappinfo-mediacontainer div.scrollingHotSpotRight
{
	width: 50px;
	min-width: 50px;
	opacity: 0.35;
}

.wappinfo-mediacontainer-media
{
	margin: 0 10px 0 0;
	height: 250px;
	float: left;
}

.wappinfo-descriptioncontainer
{
	position: absolute;
	top: 590px;
	height: 250px;
	left: 5%;
	right: 5%;
	border-bottom: 1px solid #CCC;
}

.wappinfo-descriptioncontainer-heading
{
	margin-top: 15px;
	font-size: 20px;
	font-weight: 200;
}

.wappinfo-descriptioncontainer-content
{

}

.wappinfo-detailscontainer
{
	position: absolute;
	top: 840px;
	height: 200px;
	left: 5%;
	right: 5%;
}

.wappinfo-detailscontainer-heading
{
	margin-top: 15px;
	font-size: 20px;
	font-weight: 200;
}

.wappinfo-detailscontainer-details
{
	margin-top: 10px;
	list-style-type: none;
}

.wappinfo-detailscontainer-details-detail
{
	float: left;
	margin-right: 40px;
}

.wappinfo-detailscontainer-details-detail-heading
{
	text-align: center;
	font-weight: bold;
}

.wappinfo-detailscontainer-details-detail-content
{
	text-align: center;
}

.wappinfo-detailscontainer-details-detail-content .btn
{
	margin-top: -5px;
	width: 70px;
}

.request-reason-header
{
	height: 30px;
}

.modal-body textarea
{
	width: 250px;
	margin-right: 10px;
	margin-left: 10px;
	height: 160px;
	resize: none;
}

