<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<nav class="navigation-bar">
	<div class="wappstore">
		<div class="wappstore-header" >
			<img class="wappstore-header-icon" src="public/menus/whole_earth_catalog.png" alt="Access to tools" />
			<p class="wappstore-header-text">Whole Earth Catalog</p>
		</div>
		<div class="wappstore-content">
			<!-- IS GOING TO BE FILLED DYNAMICALLY VIA AJAX -->
		</div>
		<ul class="wappstore-categories">
			<li class="wappstore-category wappstore-category-active"><?php echo t('WEBTRA.BOOTLOADER.NEW'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.TOP'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.POPULAR'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.OFFICE'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.ACCESSORIES'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.SYSTEM'); ?></li>
			<li class="wappstore-category"><?php echo t('WEBTRA.BOOTLOADER.MAKEOWN'); ?></li>
		</ul>
		<div class="wappstore-bottom"></div>
	</div>
	<div class="header-bar">
		<a class="personal-button dropdown-toggle" data-toggle="dropdown"></a>
		<ul class="personal-button-startmenu dropdown-menu">
			<li class="personal-button-startmenu-about"><a><div class="fatcowicon-info_rhombus size24 pull-left"></div><?php echo t('WEBTRA.BOOTLOADER.ABOUT', 'Webtra.net'); ?></a></li>
			<li class="divider"></li>
			<li class="personal-button-startmenu-managewapps"><a><div class="fatcowicon-application_cascade size24 pull-left"></div><?php echo t('WEBTRA.BOOTLOADER.MANAGEWAPPS'); ?></a></li>
			<li class="personal-button-startmenu-preferences"><a><div class="fatcowicon-interface_preferences size24 pull-left"></div><?php echo t('WEBTRA.BOOTLOADER.USERSETTINGS'); ?></a></li>
			<li class="personal-button-startmenu-systemandhardware"><a><div class="fatcowicon-widgets size24 pull-left"></div><?php echo t('WEBTRA.BOOTLOADER.SYSTEMSETTINGS'); ?></a></li>
			<li class="divider"></li>
			<li class="personal-button-startmenu-shutdown"><a><div class="fatcowicon-download_for_windows size24 pull-left"></div><?php echo t('WEBTRA.BOOTLOADER.SHUTDOWN'); ?></a></li>
		</ul>
		<div class="navigation-bar-grabber">
			<div class="navigation-bar-grabber-icon fatcowicon-download_cloud"></div>
		</div>
	</div>
</nav>