/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

body
{
	overflow: hidden;
}

.content-fullsize
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.header-bar
{
	position: absolute;
	height: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	border-bottom: 1px solid #d2d4d6;
	background-color: rgba(20,70,150,0.45);
}

.personal-button
{
	position: absolute;
	top: 1px;
	left: 20px;
	height: 42px;
	width: 36px;
	z-index: 1002;
	background: url("/servicetower/Bootloader/public/menus/personal_button.png") no-repeat;
	background-size: cover;
}

.personal-button:hover
{
	background: url("/servicetower/Bootloader/public/menus/personal_button_hover.png") no-repeat;
	background-size: cover;
}

.show > .personal-button
{
	background: url("/servicetower/Bootloader/public/menus/personal_button_active.png") no-repeat;
	background-size: cover;
}

.personal-button-startmenu
{
	left: -5px !important;
	top: -15px !important;
	z-index: 1001 !important;
	cursor: default;
}

.personal-button-startmenu-about
{

}

.personal-button-startmenu-wappstore
{

}

.personal-button-startmenu-managewapps
{

}

.personal-button-startmenu-appearance
{

}

.personal-button-startmenu-preferences
{

}

.personal-button-startmenu-systemandhardware
{

}

.personal-button-startmenu-shutdown
{

}

.navigation-bar
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: calc(-100% + 30px);
	height: 100%;
	z-index: 1003;
}

.navigation-bar-grabber
{
	position: absolute;
	height: 30px;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #000;
	cursor: grab;
	cursor: -webkit-grab;
}

.navigation-bar-grabber-icon
{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

ul.dropdown-menu > li > a
{
	color: #428bca;
	text-decoration: none;
}

ul.dropdown-menu-fellowlist
{
	min-width: 200px;
}

ul.dropdown-menu-fellowlist .input-group
{
	padding-left: 7px;
	padding-right: 7px;
}

ul.dropdown-menu-fellowlist .input-group .form-control
{

}

ul.dropdown-menu-fellowlist img
{
	height: 32px;
	max-width: 60px;
}

/*needed for performance messurements on mobile devices*/
*
{
	/*
	border-radius: 0 !important;
	box-shadow: none !important;
	*/
}
