/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

:root
{
	--tt-color-h: 200;
	--tt-color-s: 50%;
	--tt-color-l: 10%;
}

*, ::before, ::after
{
	box-sizing: border-box;
}

body
{
	--tt-color: hsl(0, 0%, calc((50% - var(--tt-color-l)) * 100));
	--tt-contrast-color: hsl(calc(var(--tt-color-h) - 25), 50%, 50%);
	--tt-nav-scrollbar-color: hsl(calc(var(--tt-color-h) - 25), 50%, 50%);
	--tt-content-backround-color-1: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 40%));
	--tt-content-backround-color-2: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 45%));

	margin: 0;
	display: grid;
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	grid-template-areas: 'header header header'
						 'nav-menu nav-headline nav-headline'
						 'content content sidebar'
						 'footer footer footer';

	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: max-content max-content 1fr max-content;
}

body *
{
	scrollbar-width: thin;
	scrollbar-color: var(--tt-nav-scrollbar-color) transparent;
}

body[menue-open=true]
{
	grid-template-areas: 'header header header'
						 'nav-menu nav-headline nav-headline'
						 'nav-menu content sidebar'
						 'nav-menu footer footer';

	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: max-content max-content 1fr max-content;
}

.tt-header
{
	grid-area: header;
}

.tt-nav-headline
{
	grid-area: nav-headline;
}

.tt-nav-menu
{
	grid-area: nav-menu;
}

.tt-content
{
	grid-area: content;
	padding: 1rem;
	height: 100%;
	overflow: auto;
}

.tt-sidebar
{
	grid-area: sidebar;
}

.tt-footer
{
	grid-area: footer;
}

button:focus
{
	outline: none !important;
}

@media only screen and (min-width: 768px)
{
	body
	{
		grid-template-areas: 'header header header'
							 'nav-menu nav-headline nav-headline'
							 'nav-menu content sidebar'
							 'nav-menu footer footer';

		grid-template-columns: max-content 1fr max-content;
		grid-template-rows: max-content max-content 1fr max-content;
	}
}