/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

.tt-loadingscreen
{
	bottom: 0;
	display: flex;
	position: absolute;
	z-index: 1020;
	top: 0;
	justify-content: center;
	background-color: white;
	left: 0;
	right: 0;
}

.hexagon-container
{
	display: grid;
	grid-template-columns: 1em 1em 1em 1em 1em 1em 1em 1em 1em 1em;
	grid-template-rows: 1.5em 1.5em 1.5em 1.5em;
	grid-row-gap: 0.2em;
	/* transform: rotate(90deg); */
	width: max-content;
	height: max-content;
	margin: auto;
}

.hexagon
{
	position: relative;
	overflow: hidden;
	background: transparent;
	/* add slash at the end of line to see the rhombus *
	outline: solid 1px red;/**/
	width: 4em;
	height: 4em;
	transform: rotate(-120deg) skewX(30deg) scaleY(.866);
}

.hexagon.top
{
	grid-row: 1 / span 3;
	grid-column: 4 / span 2;
}
.hexagon.left
{
	grid-row: 2  / span 3;
	grid-column: 1 / span 2;
	animation-delay: 1s;
}
.hexagon.right
{
	grid-row: 2  / span 3;
	grid-column: 7 / span 2;
	animation-delay: 2s;
}
.hexagon.bottom
{
	grid-row: 3  / span 3;
	grid-column: 4 / span 2;
	animation-delay: 3s;
}

@keyframes loading
{
	0%   {background-color: red;}
	25%  {background-color: green;}
	50%  {background-color: blue;}
	75%  {background-color: yellow;}
	100% {background-color: red;}
}

.hexagon:before
{
	position: absolute;
	right: 6.7%;
	bottom: 0;
	left: 6.7%;
	top: 0;
	transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
	animation-name: loading;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	content: '';
}

.hexagon.top:before
{
	animation-delay: 0s;
}

.hexagon.left:before
{
	animation-delay: -1s;
}
.hexagon.right:before
{
	animation-delay: -3s;
}
.hexagon.bottom:before
{
	animation-delay: -2s;
}