<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="tt-loadingscreen tt-blur-resistant">
	<div class="hexagon-container">
		<div class="hexagon top"></div>
		<div class="hexagon left"></div>
		<div class="hexagon right"></div>
		<div class="hexagon bottom"></div>
	</div>
</div>