<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="application-name" content="<?php echo $_SERVER["TT"]->meta->name; ?>" />
<meta name="author" content="<?php echo $_SERVER["TT"]->meta->developer->name; ?>" />
<meta name="description" content="<?php echo htmlspecialchars(substr($_SERVER["TT"]->meta->shortDescription, 0, 1) === "#" ? t(substr($_SERVER["TT"]->meta->shortDescription, 1)) : $_SERVER["TT"]->meta->shortDescription); ?>" />
<meta name="generator" content="TripleTower" />
<meta name="keywords" content="<?php echo implode(", ", (["wapp"] + $_SERVER["TT"]->meta->categories)); ?>" />

<link rel="icon" href="<?php echo $_SERVER["TT"]->meta->getFittingIconUrl(32) ?>" />