/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

nav
{
	--tt-nav-menue-backround-color: hsl(var(--tt-color-h), var(--tt-color-s), var(--tt-color-l));
	--tt-nav-menue-color: var(--tt-color);
	--tt-nav-menue-contrast-color: var(--tt-contrast-color);

	--tt-nav-menue-hover-color: var(--tt-color);
	--tt-nav-menue-backround-color-1: hsl(var(--tt-color-h), var(--tt-color-s), var(--tt-color-l));
	--tt-nav-menue-backround-color-2: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 10%));

	--tt-nav-menue-point-hover-color: var(--tt-color);
	--tt-nav-menue-point-hover-backround-color-1: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 10%));
	--tt-nav-menue-point-hover-backround-color-2: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 30%));

	--tt-nav-menue-point-active-color: var(--tt-color);
	--tt-nav-menue-point-active-border-left-color: var(--tt-nav-menue-contrast-color);
	--tt-nav-menue-point-active-backround-color-1: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 10%));
	--tt-nav-menue-point-active-backround-color-2: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 20%));

	--tt-nav-headline-color: var(--tt-color);
	--tt-nav-headline-backround-color-1: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 10%));
	--tt-nav-headline-backround-color-2: hsl(var(--tt-color-h), var(--tt-color-s), calc(var(--tt-color-l) + 30%));
	--tt-nav-headline-border-bottom-color: var(--tt-contrast-color);
}

@media (prefers-color-scheme: dark)
{
	--tt-red: 23;
	--tt-green: 23;
	--tt-blue: 23;
}

body.tt-blur > *:not(.tt-blur-resistant), body.tt-blur > nav > *:not(.tt-blur-resistant)
{
	filter: blur(4px);
}

.tt-nav
{
	display: contents;
}

.tt-nav *
{
	box-sizing: border-box;
}

.tt-nav h1,
.tt-nav h2,
.tt-nav h3,
.tt-nav h4,
.tt-nav h5,
.tt-nav h6
{
	font-weight: 500;
	line-height: 1.1;
}

/**********************
* NAVIGATION HEADLINE *
**********************/
.tt-nav-headline
{
	display: flex;
	width: 100%;
	height: 3rem;
	color: var(--tt-nav-headline-color);
	background: linear-gradient(135deg, var(--tt-nav-headline-backround-color-1), var(--tt-nav-headline-backround-color-2));
	justify-content: space-between;
	border-bottom-color: var(--tt-nav-headline-border-bottom-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.tt-nav-headline-left
{
	display: flex;
	justify-content: flex-end;
	margin-left: 1rem;
}

.tt-nav-headline-middle
{
	display: flex;
	justify-content: space-around;
}

.tt-nav-headline-right
{
	display: flex;
	justify-content: flex-start;
	margin-right: 1rem;
}

.tt-nav-headline-left>*, .tt-nav-headline-middle>*, .tt-nav-headline-right>*
{
	margin-top: auto;
	margin-bottom: auto;
}

.tt-nav-headline-button:hover
{
    background: linear-gradient(135deg, var(--tt-nav-menue-point-hover-backround-color-1), var(--tt-nav-menue-point-hover-backround-color-2));
	filter: none !important;
}

.tt-nav-headline-button
{
	height: max-content;
	background-color: transparent;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	padding: 0.7rem;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}
.tt-nav-headline-button div
{
	width: 1.2rem;
	height: 0.12rem;
	background-color: var(--tt-nav-menue-color);
	margin: 0.24rem auto 0.24rem auto;
	transition: 0.4s;
}

.tt-nav-menu-open .tt-nav-headline-button div
{
	opacity: 0;
}

.tt-nav-menu-open .tt-nav-headline-button div:first-child
{
	opacity: 1;
	transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
}

.tt-nav-menu-open .tt-nav-headline-button div:last-child
{
	opacity: 1;
	transform: rotate(45deg) translate(-0.25rem, -0.25rem);
}

.tt-nav-headline-logo
{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	float: right;
	height: 2rem;
}

.tt-nav-headline-filter
{
	flex-direction: flex-start;
	background-image: url("/wappstower/icons/filter.png");
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	margin-top: auto;
	margin-bottom: auto;
}

.tt-nav-headline-filter-clear
{
	background-image: url("/wappstower/icons/filterclear.png");
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
}

/******************
* NAVIGATION MENU *
******************/
.tt-nav-menu
{
	min-height: max-content;
	max-height: 100%;
	width: max-content;
	max-width: 100vw;
	display: flex;

	background: linear-gradient(to right, var(--tt-nav-menue-backround-color-1), var(--tt-nav-menue-backround-color-2));
	color: var(--tt-nav-menue-color);
	transition: all 0.3s;
	margin-left: 0;
}

.tt-nav-menu-container
{
	height: 100%;
	display: grid;
	grid-template-rows: max-content 1fr max-content
}


/*************************
* NAVIGATION MENU HEADER *
*************************/
.tt-nav-menu-header
{
	grid-row: 1;
	color: black;
	min-height: max-content;
	height: max-content;

	display: grid;
	grid-template-columns: auto auto auto;

	max-height: 3rem;
	border-bottom: 1px solid var(--tt-nav-menue-contrast-color);
}

.tt-nav-menu-header-logo
{
	width: 3.5rem;
	height: 3.5rem;
	background-size: cover;
	margin-left: 1rem;
	margin-top: 1rem;
}

.tt-nav-menu-header-data
{
	float: right;
	margin-left: 1rem;
	margin-right: 2rem;
	color: var(--tt-nav-menue-color);
}

.tt-nav-menu-header-data > h3
{
	font-size: 1.5rem;
	margin-top: 1.25rem;
	margin-bottom: 0.625rem;
}

.tt-nav-menu-header-data > h5
{
	font-size: 0.875rem;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

.tt-text-outline
{
	text-shadow:	-1px -1px 1px #000,
					1px -1px 1px #000,
					-1px 1px 1px #000,
					1px 1px 1px #000;
}

/**************************
* NAVIGATION MENU CONTENT *
***************************/
.tt-nav-menu-content
{
	display: none;
	flex-direction: row;
}


/***********************
* NAVIGATION MENU LIST *
***********************/
.tt-nav-menu-list
{
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	overflow-y: auto;
}


.tt-nav-menu-content > .tt-nav-menu-list
{
	padding: 0;
}

.tt-nav-menu-content > .tt-nav-menu-list > .tt-nav-menu-point:last-child
{
	border-top: 1px solid var(--tt-nav-menue-contrast-color);
}

.tt-nav-menu-point
{
	border-width: 2px;
	padding-left: 0;
	margin: 0 !important;
	display: grid;
	grid-template-columns: 1fr max-content;
	justify-content: space-between;
	cursor: pointer;
}

.tt-nav-menu-point::before
{
	background-color: transparent;
}

.tt-nav-menu-point > :not(ul):hover
{
	color: var(--tt-nav-menue-point-hover-color);
	background: linear-gradient(135deg, var(--tt-nav-menue-point-hover-backround-color-1), var(--tt-nav-menue-point-hover-backround-color-2));
}

.tt-nav-menu-point .tt-nav-menu-list
{
	list-style: none;
	max-height: 0;
	max-width: 0;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.95em;
	grid-row: 2;
	grid-column: 1 / span 2;
	overflow: hidden;
	border-left-width: 0.15em;
	border-left-style: inset;
	transition: max-height 0.3s ease-out 0s, max-width 0s ease-in-out 0.5s ;
}

.tt-nav-menu-point-open > .tt-nav-menu-list
{
	max-height: 100vh;
	max-width: 100vw;
	height: max-content;
	animation: expand 5s;
	transition: max-height 0.5s ease-in;
}

.tt-nav-menu-point-link, .tt-nav-menu-point-container
{
	padding: 0.6rem;
	font-size: 0.95em;

	display: grid;
	grid-template-columns: max-content 1fr;
	justify-content: center;
	margin-right: 0;
	width: auto;
	flex: 1;
}

.tt-nav-menu-point-link, .tt-nav-menu-point-container
{
	grid-template-columns: max-content 1fr max-content;
}

.tt-nav-menu-point-current > .tt-nav-menu-point-link, .tt-nav-menu-point-current > .tt-nav-sub-menu-point-container
{
	color: var(--tt-nav-menue-point-active-color);
	background: linear-gradient(to right, var(--tt-nav-menue-point-active-backround-color-1), var(--tt-nav-menue-point-active-backround-color-1));
	border-left-color: var(--tt-nav-menue-point-active-border-left-color);
	border-left-style: solid;
	border-left-width: 0.2rem;
}

.tt-nav-menu-point-link, .tt-nav-menu-point-container
{
	color: inherit !important;
	text-decoration: none !important;
}

.tt-nav-menu-point .tt-nav-menu-point-icon
{
	height: 1em;
	width: 1em;
	font-size: calc(var(--font-size)*var(--line-height));
	background-size: contain;
	margin-top: 0px;
	filter: grayscale(50%);
	float: left;
	grid-row: 1;
	grid-column: 1;
	margin-right: 0;
}

.tt-nav-menu-point-link span, .tt-nav-menu-point-container span
{
	font-size: 0.875rem;
	line-height: 1.49;
	margin-left: 1rem;
}

.tt-nav-menu-point .tt-nav-menu-point
{
	color: inherit !important;
	text-decoration: none !important;
	margin: 0 !important;
	height: max-content;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: left;
	border-width: 2px;
}

.tt-nav-menu-point .tt-nav-menu-point .tt-nav-menu-point::before
{
	background-color: transparent;
}

.tt-nav-menu-point .tt-nav-menu-point .tt-nav-menu-point-link
{
	color: inherit !important;
	text-decoration: none !important;
}

.tt-nav-menu-point .tt-nav-menu-point .tt-nav-menu-point-link
{
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	justify-content: left;
	padding-left: 0.4em;
	padding-right: 0;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	grid-row: 1;
	cursor: pointer;
}

.tt-nav-sub-menu-point-extend-button
{
	display: none;
	grid-column: 3;
	padding: 0.2em;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 0px;
	margin-top: -0.6em;
	margin-right: -0.6em;
	margin-bottom: -0.6em;
	width: 2.91em;
	cursor: pointer;
}

.tt-nav-sub-menu-point-extend-button > div
{
	width: 0.8em;
	height: 2px;
	background-color: var(--tt-nav-menue-color);
	margin: 0.22em auto 0.18em auto;
	transition: 0.5s;
}

.tt-nav-sub-menu-point-extend-button:hover
{
	color: var(--tt-nav-menue-point-hover-color);
	background: linear-gradient(135deg, var(--tt-nav-menue-point-hover-backround-color-1), var(--tt-nav-menue-point-hover-backround-color-2));
}

.tt-nav-sub-menu-point-extend-button div:first-child
{
	transform: rotate(-45deg) translate(0.3em, 0.3em);
}

.tt-nav-sub-menu-point-extend-button div:last-child
{
	transform: rotate(45deg) translate(-0.3em, -0.21em);
}

.tt-nav-menu-point-open > .tt-nav-menu-point-container > .tt-nav-sub-menu-point-extend-button div:first-child,
.tt-nav-menu-point-open > .tt-nav-menu-point-link > .tt-nav-sub-menu-point-extend-button div:first-child
{
	transform: rotate(45deg) translate( 0.3em, -0.3em);
}

.tt-nav-menu-point-open > .tt-nav-menu-point-container > .tt-nav-sub-menu-point-extend-button div:last-child,
.tt-nav-menu-point-open > .tt-nav-menu-point-link > .tt-nav-sub-menu-point-extend-button div:last-child
{
	transform: rotate(-45deg) translate( 0.21em, -0.3em);
}

/************************
* NAVIGATION BODY GLASS *
*************************/
.tt-nav-menu-glass
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 998;
	opacity: 0;
}

/************************
* NAVIGATION OPEN CLOSE *
*************************/
.tt-menue-invisible-on-closed-menue
{
	display: none;
}

.tt-nav-menu-open .tt-menue-invisible-on-closed-menue
{
	display: block;
}

.tt-nav-menu-open
{
	min-width: max-content;
	max-width: max-content;
	background: linear-gradient(135deg, var(--tt-nav-menue-backround-color-1), var(--tt-nav-menue-backround-color-2));
}

.tt-nav-menu-open .tt-nav-menu-container
{
	display: grid;
	grid-template-rows: max-content auto;
}

.tt-nav-menu-open .tt-nav-menu-header
{
	min-height: 6rem;
}

.tt-nav-menu-open .tt-nav-menu-content, .tt-nav-menu-open .tt-nav-menu-list
{
	display: flex;
	flex-direction: column;
}

.tt-nav-menu-open .tt-nav-menu-point .tt-nav-menu-list
{
	margin-left: 1.5em;
	border-left-style: none;
}

.tt-nav-menu-open .tt-nav-menu-point-link, .tt-nav-menu-open .tt-nav-menu-point-container
{
	grid-column-gap: 0.1rem;
	justify-content: left;
}

.tt-nav-menu-open .tt-nav-sub-menu-point-extend-button
{
	display: block;
	height: calc(100% + 1.2em);
	aspect-ratio : 1 / 1;
	padding-top: 0.4rem;
	grid-column: 3;
}


/**************************
* NAVIGATION MENU TOOLTIP *
***************************/
[data-tt-nav-menu-point-tooltip]
{
	position: relative;
	z-index: 1005;
}

[data-tt-nav-menu-point-tooltip]::after
{
	content: attr(data-tt-nav-menu-point-tooltip);
	display: none;
	position: fixed;
	left: 4.2rem;
	width: max-content;
	padding: 0.5em;
	z-index: 1010;
	color: var(--tt-nav-menue-color);
	background-color: var(--tt-nav-menue-backround-color-1);
	border-color: var(--tt-nav-menue-backround-color-2);
	border-width: 2px 2px 2px 0px;
	border-style: solid;
	height: 2.8rem;
	border-radius: 4px;
	margin-top: -0.4rem;
}

[data-tt-nav-menu-point-tooltip]::before
{
	content: "";
	position: fixed;
	display: none;
	left: 3.3rem;
	background-color: var(--tt-nav-menue-backround-color-1);
	transform: rotate(45deg);
	z-index: 1009;
	width: 2rem;
	height: 2rem;
	border-color: var(--tt-nav-menue-backround-color-2);
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-radius: 4px;
}

[data-tt-nav-menu-point-tooltip]:hover::after, [data-tt-nav-menu-point-tooltip]:hover::before
{
	display: block;
}

.tt-nav-menu-open [data-tt-nav-menu-point-tooltip]:hover::after, .tt-nav-menu-open [data-tt-nav-menu-point-tooltip]:hover::before
{
	display: none;
}

/************************
* WIDESCREEN VIEW       *
*************************/
@media only screen and (min-width: 768px)
{
	/**************************
	* NAVIGATION MENU CONTENT *
	***************************/
	.tt-nav-menu-container
	{
		display: grid;
		grid-template-columns: max-contetnt 1fr;
		max-height: 100%;
	}

	.tt-nav-menu-list, .tt-nav-menu-content
	{
		display: flex;
		overflow-y: auto;
		flex-direction: column;
		max-height: 100%;
	}
}




