<?php declare(strict_types=1);
/**
 * TripleTower - https://webtranet.online/tripletower
 *
 * @link      https://gitlab.com/webtranet/tripletower.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="tt-nav-headline">
	<div id="tt-nav-headline-container-left" class="tt-nav-headline-left">
		<span class="tt-nav-headline-left-title"><?php echo substr($this->title, 0, 1) === "#" ? t(substr($this->title, 1)) : $this->title; ?></span>
	</div>
	<div class="tt-nav-headline-middle">
	</div>
	<div class="tt-nav-headline-right">
		<!--<button type="button" id="tt-nav-headline-filter" class="tt-nav-headline-filter"></button>-->
		<div id="tt-nav-headline-logo" class="tt-nav-headline-logo"></div>
	</div>
</div>
<div id="tt-nav-menu" class="tt-nav-menu">
	<div class="tt-nav-menu-container">
		<div class="tt-nav-menu-header">
			<img id="tt-nav-menu-header-logo" class="tt-nav-menu-header-logo tt-menue-invisible-on-closed-menue" src="<?php echo $_SERVER["TT"]->meta->getFittingIconUrl(256); ?>" alt="<?php echo $_SERVER["TT"]->meta->name; ?> Logo" />
			<div class="tt-nav-menu-header-data tt-menue-invisible-on-closed-menue">
				<h3><?php echo $_SERVER["TT"]->meta->name; ?></h3>
				<h5><?php echo $_SERVER["TT"]->user->displayName; ?></h5>
			</div>
			<button type="button" id="tt-nav-headline-button" class="tt-nav-headline-button">
				<div class="tt-nav-headline-button-strip"></div>
				<div class="tt-nav-headline-button-strip"></div>
				<div class="tt-nav-headline-button-strip"></div>
			</button>
		</div>
		<div class="tt-nav-menu-content">
			<?php
				function printNavigationViews(stdClass $views, $path = "")
				{
					echo "<ul class='tt-nav-menu-list'>";

					foreach( $views as $viewName => $view )
					{
						if( is_object($view) )
						{
							// Only draw visible views
							if( !isset($view->visible) || !empty($view->visible) )
							{
								$title = substr($view->title, 0, 1) === "#" ? t(substr($view->title, 1)) : $view->title;
								$viewPath = !empty($path) ? "$path/$viewName" : $viewName;
								$contentName = $_SERVER["TT"]->contentName;

								echo "<li class='tt-nav-menu-point";

								if( isset($view->navigationClass) )
									echo " " . $view->navigationClass;
								
								if( $viewPath === $contentName )
									echo " tt-nav-menu-point-current";
								else if( $viewPath === substr($contentName, 0,  strlen($viewPath)) )
									echo " tt-nav-menu-point-open";

								echo "'>";

								if( isset($view->content) )
								{
									echo "<a class='tt-nav-menu-point-link' id='nav-" . $view->content . "' href='/" .
											$_SERVER["TT"]->tower->getTowerInstance() . "/" .
											$_SERVER["TT"]->contentProvider . "/" .
											$_SERVER["TT"]->contentType . "/" .
											"$viewPath' data-tt-nav-menu-point-tooltip='$title'>";
								}
								else
								{
									echo "<div class='tt-nav-menu-point-container'>";
								}

								echo "<div class='tt-nav-menu-point-icon " . ($view->navigationIconClass ?? "") . "'></div>";
								echo "<span class='tt-menue-invisible-on-closed-menue'>$title</span>";

								if( isset($view->views) )
									echo "<button class='tt-nav-sub-menu-point-extend-button '><div></div><div></div></button>";

								if( isset($view->content) )
									echo "</a>";
								else
									echo "</div>";

								if( isset($view->views) )
									printNavigationViews( $view->views, $viewPath );

								echo "</li>";
							}
						}
					}
					echo "</ul>";
				}

				printNavigationViews( $_SERVER["TT"]->meta->views );
			?>
		</div>
	</div>
</div>
<div id="tt-nav-menu-glass" class="tt-nav-menu-glass"></div>